# Date Night Movie

#### Grading:


- Code: 6.5 pts
- Comments: .5pts
- Markdown Documentation: .5pts

In this assignment we are going to use pandas to figure out - What's the best **date-night movie**?

This assignment is going to use
- Joining
- Groupby
- Sorting

In [1]:
import os
import pandas as pd

##### Read in the movie data: `pd.read_table`

In [6]:
def get_movie_data():
    
    '''
    Function to read in movie related data
    
    Parameters
    ----------
    None
    
    Returns
    -------
    users: pd.DataFrame containing user data
    ratings: pd.DataFrame containing rating data
    movies: pd.DataFrame containing movie data
    '''
    
    unames = ['user_id','gender','age','occupation','zip']
    users = pd.read_csv(os.path.join('../data','users.dat'), 
                          sep='::', header=None, names=unames)
    
    rnames = ['user_id', 'movie_id', 'rating', 'timestamp']
    ratings = pd.read_csv(os.path.join('../data', 'ratings.dat'), 
                            sep='::', header=None, names=rnames)
    
    mnames = ['movie_id', 'title','genres']
    movies = pd.read_csv(os.path.join('../data', 'movies.dat'), 
                           sep='::', header=None, names=mnames)

    return users, ratings, movies

In [8]:
users, ratings, movies = get_movie_data()

In [10]:
users.head()

   user_id gender  age  occupation    zip
0        1      F    1          10  48067
1        2      M   56          16  70072
2        3      M   25          15  55117
3        4      M   45           7  02460
4        5      M   25          20  55455

In [11]:
ratings.head()

   user_id  movie_id  rating  timestamp
0        1      1193       5  978300760
1        1       661       3  978302109
2        1       914       3  978301968
3        1      3408       4  978300275
4        1      2355       5  978824291

In [12]:
movies.head()

   movie_id                               title                        genres
0         1                    Toy Story (1995)   Animation|Children's|Comedy
1         2                      Jumanji (1995)  Adventure|Children's|Fantasy
2         3             Grumpier Old Men (1995)                Comedy|Romance
3         4            Waiting to Exhale (1995)                  Comedy|Drama
4         5  Father of the Bride Part II (1995)                        Comedy

##### Clean up the `movies`

- Get the `year`
- Shorten the `title`

In [13]:
tmp = movies.title.str.extract('(.*) \(([0-9]+)\)')
tmp.apply(lambda x:x[0] if len(x) > 0 else None)
tmp.apply(lambda x: x[0][:40] if len(x) > 0 else None)

0    Toy Story
1         1995
dtype: object

In [14]:
movies['year'] = tmp[1]
movies['short_title'] = tmp[0]

In [15]:
movies.head()

,movie_id,title,genres,year,short_title
0,1,Toy Story (1995),Animation|Children's|Comedy,1995,Toy Story
1,2,Jumanji (1995),Adventure|Children's|Fantasy,1995,Jumanji
2,3,Grumpier Old Men (1995),Comedy|Romance,1995,Grumpier Old Men
3,4,Waiting to Exhale (1995),Comedy|Drama,1995,Waiting to Exhale
4,5,Father of the Bride Part II (1995),Comedy,1995,Father of the Bride Part II

##### Join the tables with `pd.merge` (1 pts)

Merging ratings,users and movies by unique key which is 'user_id' and 'movie_id'

In [18]:
ratingsAndUserResultSet=pd.merge(ratings,users, on='user_id')
ratingsAndUserAndMovieResultSet=pd.merge(ratingsAndUserResultSet, movies, on='movie_id')
ratingsAndUserAndMovieResultSet

,user_id,movie_id,rating,timestamp,gender,age,occupation,zip,title,genres,year,short_title
0,1,1193,5,978300760,F,1,10,48067,One Flew Over the Cuckoo's Nest (1975),Drama,1975,One Flew Over the Cuckoo's Nest
1,2,1193,5,978298413,M,56,16,70072,One Flew Over the Cuckoo's Nest (1975),Drama,1975,One Flew Over the Cuckoo's Nest
2,12,1193,4,978220179,M,25,12,32793,One Flew Over the Cuckoo's Nest (1975),Drama,1975,One Flew Over the Cuckoo's Nest
3,15,1193,4,978199279,M,25,7,22903,One Flew Over the Cuckoo's Nest (1975),Drama,1975,One Flew Over the Cuckoo's Nest
4,17,1193,5,978158471,M,50,1,95350,One Flew Over the Cuckoo's Nest (1975),Drama,1975,One Flew Over the Cuckoo's Nest
...,...,...,...,...,...,...,...,...,...,...,...,...
1000204,5949,2198,5,958846401,M,18,17,47901,Modulations (1998),Documentary,1998,Modulations
1000205,5675,2703,3,976029116,M,35,14,30030,Broken Vessels (1998),Drama,1998,Broken Vessels
1000206,5780,2845,1,958153068,M,18,17,92886,White Boys (1999),Drama,1999,White Boys
1000207,5851,3607,5,957756608,F,18,20,55410,One Little Indian (1973),Comedy|Drama|Western,1973,One Little Indian
1000208,5938,2909,4,957273353,M,25,1,35401,"Five Wives, Three Secretaries and Me (1998)",Documentary,1998,"Five Wives, Three Secretaries and Me"

##### What's the highest rated movie? (1 pts))

In [24]:

tlist=ratingsAndUserAndMovieResultSet.loc[ratingsAndUserAndMovieResultSet['rating'] == ratingsAndUserAndMovieResultSet['rating'].max()]
tlist.head()

# Average Rating
averageRating = 0.0

# Highest Rated Movie
highestRatedMovie = 0


for x in range(0, tlist.movie_id.max()+1):
    tempList1 = tlist.loc[tlist['movie_id'] == x]
    if tempList1.rating.mean() > averageRating:
        averageRating = tempList1.rating.mean()
        highestRatedMovie = x

# This will print highest rated movie
print(highestRatedMovie)

print(tlist.loc[tlist['movie_id'] == highestRatedMovie].head())

1
       user_id  movie_id  rating  timestamp gender  age  occupation    zip  \
41626        1         1       5  978824268      F    1          10  48067
41629        9         1       5  978225952      M   25          17  61614
41630       10         1       5  978226474      F   35           1  95370
41632       19         1       5  978555994      M    1          10  48073
41637       34         1       5  978102970      F   18           0  02135

                  title                       genres  year short_title
41626  Toy Story (1995)  Animation|Children's|Comedy  1995   Toy Story
41629  Toy Story (1995)  Animation|Children's|Comedy  1995   Toy Story
41630  Toy Story (1995)  Animation|Children's|Comedy  1995   Toy Story
41632  Toy Story (1995)  Animation|Children's|Comedy  1995   Toy Story
41637  Toy Story (1995)  Animation|Children's|Comedy  1995   Toy Story

##### What are some good rated movies for date night? (4.5 pts)

- Hint - highly rated movie by 
    - both partners (might be the same gender or not),
    - based on genre preferences,
    - age group can also be combined
    - Perhaps occupation? 
    - etc.
    
There is no single correct answer. Be sure to explain your reasoning behind your suggestion

In [25]:
ratingsAndUserAndMovieResultSet.genres.unique()

array(['Drama', "Animation|Children's|Musical", 'Musical|Romance',
       "Animation|Children's|Comedy", 'Action|Adventure|Comedy|Romance',
       'Action|Adventure|Drama', 'Comedy|Drama',
       "Adventure|Children's|Drama|Musical", 'Musical', 'Comedy',
       "Animation|Children's", 'Comedy|Fantasy', 'Animation',
       'Comedy|Sci-Fi', 'Drama|War', 'Romance',
       "Animation|Children's|Musical|Romance",
       "Children's|Drama|Fantasy|Sci-Fi", 'Drama|Romance',
       'Animation|Comedy|Thriller',
       "Adventure|Animation|Children's|Comedy|Musical",
       "Animation|Children's|Comedy|Musical", 'Thriller',
       'Action|Crime|Romance', 'Action|Adventure|Fantasy|Sci-Fi',
       "Children's|Comedy|Musical", 'Action|Drama|War',
       "Children's|Drama", 'Crime|Drama|Thriller', 'Action|Crime|Drama',
       'Action|Adventure|Mystery', 'Crime|Drama',
       'Action|Adventure|Sci-Fi|Thriller',
       'Action|Adventure|Romance|Sci-Fi|War', 'Action|Thriller',
       'Action|Drama', 'Comedy|Drama|Western', 'Action|Adventure|Crime',
       'Action|Crime|Mystery|Thriller', 'Comedy|Drama|Romance',
       'Comedy|Drama|War', 'Drama|Sci-Fi', 'Action|Drama|Thriller',
       'Action|Comedy|Western', 'Adventure|Comedy|Drama',
       'Drama|Thriller', 'Comedy|Romance',
       'Action|Drama|Romance|Thriller', 'Action|Crime|Thriller',
       'Action|Sci-Fi|Thriller', 'Action|Horror|Sci-Fi', 'Action|Sci-Fi',
       'Action|Romance|War', 'Adventure|Drama|Romance|Sci-Fi',
       'Action|Adventure|Sci-Fi', 'Drama|Romance|War',
       'Action|Drama|Romance', 'Crime|Drama|Film-Noir|Thriller',
       'Adventure|Drama|Western', 'Action|Adventure|Drama|Sci-Fi|War',
       'Action|Adventure|Thriller', 'Action|Adventure|Romance|Thriller',
       'Action|Adventure', 'Comedy|Horror', 'Action|Crime|Drama|Thriller',
       'Action|Mystery|Romance|Thriller', 'Action|Romance|Thriller',
       'Action|Comedy|Drama', 'Action', 'Action|Sci-Fi|War',
       'Action|Comedy|Crime|Drama', 'Action|Adventure|Romance',
       'Comedy|Romance|War', 'Comedy|Thriller', 'Action|Adventure|Comedy',
       'Action|Comedy', 'Adventure|Thriller', 'Action|Adventure|Fantasy',
       'Action|Adventure|Horror', 'Action|Adventure|Comedy|Sci-Fi',
       'Action|Adventure|Comedy|Horror', 'Western', 'Adventure|Comedy',
       'Adventure|Drama', 'Action|Adventure|Horror|Thriller',
       'Comedy|Western', "Animation|Children's|Comedy|Musical|Romance",
       'Action|Western', 'Action|Horror|Sci-Fi|Thriller', 'Action|Horror',
       'Adventure|Animation|Film-Noir', 'Drama|Romance|Thriller',
       'Crime|Drama|Romance|Thriller', 'Crime|Thriller',
       'Animation|Comedy', 'Documentary',
       'Crime|Film-Noir|Mystery|Thriller', 'Drama|Horror',
       'Mystery|Sci-Fi|Thriller', 'Drama|Mystery', 'Horror|Romance',
       'Horror|Sci-Fi', 'Horror', 'Sci-Fi|Thriller', 'Crime',
       'Action|Crime', 'Crime|Horror', 'Drama|Mystery|Thriller',
       'Comedy|Crime', 'Drama|Sci-Fi|Thriller', "Children's|Comedy",
       'Horror|Mystery|Thriller', 'Film-Noir|Mystery',
       'Comedy|Crime|Mystery|Thriller', 'Drama|Musical',
       'Adventure|Sci-Fi', "Children's|Comedy|Drama", 'Action|Romance',
       "Adventure|Animation|Children's|Musical", 'Comedy|Musical',
       "Children's|Fantasy|Musical", "Children's|Comedy|Western",
       'Drama|Romance|War|Western', "Adventure|Children's|Comedy",
       'Comedy|Fantasy|Romance', 'Comedy|Musical|Romance',
       "Adventure|Children's|Drama", 'Action|Drama|Thriller|War',
       'Drama|Thriller|War', 'Adventure|Animation|Sci-Fi|Thriller',
       'Animation|Sci-Fi', 'Comedy|Crime|Drama|Mystery',
       'Crime|Drama|Mystery', 'Action|Comedy|Sci-Fi|Thriller',
       'Comedy|Crime|Fantasy', 'Horror|Sci-Fi|Thriller',
       "Adventure|Children's|Comedy|Fantasy|Sci-Fi",
       'Film-Noir|Mystery|Thriller', 'Adventure', 'Comedy|War',
       'Comedy|Romance|Thriller', "Action|Children's|Fantasy",
       "Adventure|Children's|Fantasy", 'Action|Adventure|Comedy|Crime',
       'Adventure|Musical', "Animation|Children's|Drama|Fantasy",
       'Comedy|Mystery|Thriller', 'Action|Adventure|Crime|Drama',
       "Children's|Fantasy|Sci-Fi", "Adventure|Children's", 'War',
       'Comedy|Horror|Musical|Sci-Fi', "Children's|Comedy|Fantasy",
       'Sci-Fi|War', "Animation|Children's|Fantasy|Musical",
       "Children's|Sci-Fi", "Adventure|Children's|Fantasy|Sci-Fi",
       'Mystery|Thriller', 'Comedy|Horror|Musical',
       'Action|Horror|Thriller', 'Adventure|Fantasy',
       'Drama|Mystery|Sci-Fi|Thriller', 'Crime|Drama|Sci-Fi',
       "Adventure|Children's|Musical", 'Action|Sci-Fi|Thriller|War',
       'Adventure|War', 'Action|Adventure|Romance|War',
       'Action|Drama|Fantasy|Romance', 'Adventure|Comedy|Sci-Fi',
       'Comedy|Sci-Fi|Western', 'Action|Adventure|Comedy|Horror|Sci-Fi',
       "Adventure|Children's|Comedy|Fantasy", 'Film-Noir|Sci-Fi',
       'Drama|Fantasy', "Children's|Drama|Fantasy", "Children's|Fantasy",
       'Fantasy|Sci-Fi', 'Action|Comedy|Musical',
       'Adventure|Fantasy|Sci-Fi', 'Action|Adventure|Sci-Fi|War',
       "Action|Adventure|Children's|Comedy",
       "Adventure|Children's|Drama|Romance",
       "Adventure|Children's|Sci-Fi", "Children's",
       'Comedy|Drama|Musical', 'Comedy|Fantasy|Romance|Sci-Fi',
       'Comedy|Crime|Drama', 'Sci-Fi', 'Adventure|Fantasy|Romance',
       'Adventure|Romance', 'Adventure|Western', 'Action|Drama|Mystery',
       'Adventure|Animation|Sci-Fi', 'Adventure|Romance|Sci-Fi',
       'Horror|Thriller', 'Action|Adventure|Mystery|Sci-Fi',
       'Adventure|Drama|Thriller', 'Comedy|Horror|Thriller',
       'Action|Comedy|Crime|Horror|Thriller',
       'Crime|Horror|Mystery|Thriller', 'Crime|Horror|Thriller',
       'Crime|Drama|Mystery|Thriller', 'Animation|Musical',
       'Action|Sci-Fi|Western', 'Crime|Drama|Film-Noir',
       'Adventure|Sci-Fi|Thriller', 'Drama|Fantasy|Romance|Thriller',
       'Mystery|Sci-Fi', 'Action|Crime|Sci-Fi', 'Comedy|Mystery',
       'Action|Romance|Sci-Fi', 'Crime|Film-Noir|Mystery',
       'Comedy|Drama|Sci-Fi', 'Sci-Fi|Thriller|War', 'Film-Noir|Thriller',
       'Action|Adventure|Animation|Horror|Sci-Fi',
       'Action|Sci-Fi|Thriller|Western', 'Comedy|Horror|Sci-Fi',
       'Crime|Film-Noir|Thriller', 'Comedy|Crime|Thriller',
       'Film-Noir|Sci-Fi|Thriller',
       "Adventure|Animation|Children's|Sci-Fi",
       'Action|Adventure|Drama|Romance', "Children's|Musical",
       'Action|Comedy|Musical|Sci-Fi', 'Action|Drama|Sci-Fi|Thriller',
       'Action|Comedy|Fantasy', 'Action|War', 'Action|Comedy|Sci-Fi|War',
       'Comedy|Crime|Horror', 'Action|Comedy|War',
       "Action|Adventure|Children's|Sci-Fi", "Action|Children's",
       'Comedy|Documentary', 'Action|Adventure|Animation',
       'Action|Mystery|Thriller',
       "Action|Animation|Children's|Sci-Fi|Thriller|War",
       'Crime|Drama|Romance', 'Crime|Film-Noir',
       'Mystery|Romance|Thriller', 'Comedy|Mystery|Romance|Thriller',
       'Action|Adventure|Sci-Fi|Thriller|War',
       'Adventure|Crime|Sci-Fi|Thriller', 'Action|Adventure|Western',
       "Animation|Children's|Fantasy|War", 'Action|Adventure|Comedy|War',
       "Children's|Comedy|Sci-Fi",
       "Adventure|Animation|Children's|Comedy|Fantasy",
       'Drama|Musical|War', 'Drama|Mystery|Romance',
       'Adventure|Drama|Romance', 'Film-Noir',
       'Film-Noir|Romance|Thriller', 'Drama|Film-Noir',
       'Romance|Thriller', 'Action|Adventure|War', 'Mystery',
       'Action|Adventure|Drama|Thriller', 'Musical|Romance|War',
       'Drama|Western', 'Action|Drama|Mystery|Romance|Thriller',
       'Adventure|Comedy|Musical', 'Documentary|Musical',
       'Action|Thriller|War', 'Adventure|Comedy|Romance',
       "Adventure|Children's|Comedy|Fantasy|Romance", 'Romance|War',
       'Comedy|Romance|Sci-Fi', 'Action|Mystery|Sci-Fi|Thriller',
       "Children's|Horror", 'Adventure|Musical|Romance',
       "Adventure|Children's|Comedy|Musical", "Children's|Comedy|Mystery",
       'Action|Comedy|Romance|Thriller', 'Action|Drama|Western',
       "Animation|Children's|Comedy|Romance", 'Comedy|Mystery|Romance',
       'Action|Crime|Mystery', 'Comedy|Drama|Thriller', 'Musical|War',
       'Documentary|Drama', 'Action|Adventure|Crime|Thriller',
       "Action|Adventure|Children's", "Adventure|Children's|Romance",
       "Adventure|Animation|Children's",
       "Action|Adventure|Animation|Children's|Fantasy",
       "Adventure|Animation|Children's|Fantasy",
       'Drama|Film-Noir|Thriller', 'Crime|Mystery', 'Documentary|War',
       'Action|Comedy|Crime', 'Drama|Romance|Sci-Fi', 'Horror|Mystery',
       'Drama|Horror|Thriller', "Action|Adventure|Children's|Fantasy",
       'Animation|Mystery', 'Drama|Romance|Western', 'Romance|Western',
       'Comedy|Film-Noir|Thriller', 'Fantasy', 'Film-Noir|Horror'],
      dtype=object)

In [26]:
selectGenres = ratingsAndUserAndMovieResultSet.loc[ratingsAndUserAndMovieResultSet['genres'].str.contains('Comedy' and 'Drama' and 'Musical')]
males = selectGenres.loc[selectGenres['gender'] == 'M']
females = selectGenres.loc[selectGenres['gender'] == 'F']

In [27]:
selectGenres.head()

,user_id,movie_id,rating,timestamp,gender,age,occupation,zip,title,genres,year,short_title
1725,1,661,3,978302109,F,1,10,48067,James and the Giant Peach (1996),Animation|Children's|Musical,1996,James and the Giant Peach
1726,23,661,2,978460739,M,35,0,90049,James and the Giant Peach (1996),Animation|Children's|Musical,1996,James and the Giant Peach
1727,49,661,3,977972750,M,18,12,77084,James and the Giant Peach (1996),Animation|Children's|Musical,1996,James and the Giant Peach
1728,53,661,5,977979726,M,25,0,96931,James and the Giant Peach (1996),Animation|Children's|Musical,1996,James and the Giant Peach
1729,57,661,4,977935511,M,18,19,30350,James and the Giant Peach (1996),Animation|Children's|Musical,1996,James and the Giant Peach

In [28]:
males.head()

,user_id,movie_id,rating,timestamp,gender,age,occupation,zip,title,genres,year,short_title
1726,23,661,2,978460739,M,35,0,90049,James and the Giant Peach (1996),Animation|Children's|Musical,1996,James and the Giant Peach
1727,49,661,3,977972750,M,18,12,77084,James and the Giant Peach (1996),Animation|Children's|Musical,1996,James and the Giant Peach
1728,53,661,5,977979726,M,25,0,96931,James and the Giant Peach (1996),Animation|Children's|Musical,1996,James and the Giant Peach
1729,57,661,4,977935511,M,18,19,30350,James and the Giant Peach (1996),Animation|Children's|Musical,1996,James and the Giant Peach
1730,58,661,5,977939066,M,25,2,30303,James and the Giant Peach (1996),Animation|Children's|Musical,1996,James and the Giant Peach

In [29]:
females.head()

,user_id,movie_id,rating,timestamp,gender,age,occupation,zip,title,genres,year,short_title
1725,1,661,3,978302109,F,1,10,48067,James and the Giant Peach (1996),Animation|Children's|Musical,1996,James and the Giant Peach
1731,59,661,3,977933844,F,50,1,55413,James and the Giant Peach (1996),Animation|Children's|Musical,1996,James and the Giant Peach
1733,75,661,5,977851143,F,1,10,01748,James and the Giant Peach (1996),Animation|Children's|Musical,1996,James and the Giant Peach
1734,78,661,4,977811895,F,45,1,98029,James and the Giant Peach (1996),Animation|Children's|Musical,1996,James and the Giant Peach
1736,92,661,1,986187347,F,18,4,44243,James and the Giant Peach (1996),Animation|Children's|Musical,1996,James and the Giant Peach

In [30]:
len(selectGenres[selectGenres['movie_id']==661].rating)

525

In [36]:
highestRatedMovieBoth = 0
averageCombined = 0.0 

for x in range(0, selectGenres.movie_id.max()+1):
    # get movies by male and female
    maleTemp = males.loc[males['movie_id'] == x]
    femaleTemp = females.loc[females['movie_id'] == x]
    #atleast for 10 ratings
    if len(selectGenres[selectGenres['movie_id'] == x].rating) >= 10:
        # lets find the highest rating for males and females, calculated separately then combined
        if maleTemp.rating.mean() + femaleTemp.rating.mean() > averageCombined:
            averageCombined = maleTemp.rating.mean() + femaleTemp.rating.mean()
            highestRatedMovieBoth = x

print(highestRatedMovieBoth) #hightest rated movie combined.
print(ratingsAndUserAndMovieResultSet.loc[ratingsAndUserAndMovieResultSet['movie_id'] == highestRatedBoth].head())

899
        user_id  movie_id  rating  timestamp gender  age  occupation    zip  \
519332       10       899       4  979167758      F   35           1  95370
519333       28       899       3  978125906      F   25           1  14607
519334       35       899       4  978101958      M   45           1  02482
519335       37       899       5  978056617      F   25           9  66212
519336       45       899       3  977988182      F   45          16  94110

                             title           genres  year          short_title
519332  Singin' in the Rain (1952)  Musical|Romance  1952  Singin' in the Rain
519333  Singin' in the Rain (1952)  Musical|Romance  1952  Singin' in the Rain
519334  Singin' in the Rain (1952)  Musical|Romance  1952  Singin' in the Rain
519335  Singin' in the Rain (1952)  Musical|Romance  1952  Singin' in the Rain
519336  Singin' in the Rain (1952)  Musical|Romance  1952  Singin' in the Rain

Highest rated movie is "Singin' in the Rain (1952)" by Genres